button,
p {
  font-family: "Overpass", sans-serif;
}

h1,
h2 {
  font-family: "Ubuntu", sans-serif;
}

header {
  background-image: url(../images/bg-pattern-intro-desktop.svg), -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(rgba(255, 61, 84, 0.8)));
  background-image: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(#ff8f70, rgba(255, 61, 84, 0.8));
  background-repeat: no-repeat, repeat;
  background-position: center, center;
  background-size: 2000px, cover;
  border-bottom-left-radius: 100px;
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu-wrapper {
  position: relative;
}

.nav-menu {
  padding: 0;
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav-menu li {
  margin-right: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
}

.nav-menu a:hover {
  color: white;
  text-decoration: underline;
}

.drop-down-content {
  position: absolute;
  right: 10px;
  top: 30px;
  list-style: none;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  margin: 0;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.drop-down-content a {
  color: #666363;
  text-decoration: none;
}

.drop-down-content a:hover {
  color: black;
  text-decoration: underline;
}

.nav-btns button {
  background: none;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 5px 20px;
}

.nav-btns button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.page-intro {
  padding: 140px 0;
  color: white;
}

.page-intro h1 {
  font-family: "Ubuntu", sans-serif;
}

.page-intro-btns {
  margin-top: 50px;
}

.page-intro-btn-1, .page-intro-btn-2 {
  height: 40px;
  width: 140px;
  border-radius: 20px;
  background-color: white;
  border: none;
  color: #ff525d;
}

.page-intro-btn-1:hover, .page-intro-btn-2:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.page-intro-btn-2 {
  background-color: #FF6261;
  border: 1px solid white;
  color: white;
  margin-left: 20px;
}

.page-intro-btn-2:hover {
  color: #FF6261;
  background-color: white;
}

.nav-mob-wrapper {
  display: none;
}

.content-1 h2 {
  color: #1f3f5b;
}

.content-1 P {
  line-height: 2;
  color: #4b5862;
}

.content {
  padding: 0 60px;
}

.content-2 {
  background-color: #2c2d3f;
  border-radius: 0 80px;
  position: relative;
  height: 400px;
}

.content-2 img {
  position: absolute;
  top: -80px;
  left: 100px;
}

.content-2-txt h2 {
  font-size: 25px;
}

.content-2-txt P {
  font-size: 15px;
}

footer {
  background-color: #25252d;
  padding: 100px;
  border-top-right-radius: 100px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2;
}

footer li:hover a {
  text-decoration: underline;
  color: rgba(221, 219, 219, 0.8);
}

footer a {
  text-decoration: none;
  color: rgba(221, 219, 219, 0.8);
}

@media (min-width: 769px) and (max-width: 1020px) {
  .content-2 {
    height: 250px;
  }
  .content-2 img {
    left: 0;
    width: 400px;
  }
  .content {
    padding: 0;
  }
  .content h2 {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
  }
  .content P {
    text-align: justify;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .footer-menu {
    margin: 30px 0;
  }
  .content-2 {
    height: 500px;
    padding: 50px 20px;
  }
  .content-2 img {
    position: relative;
    left: 0;
    width: 200px;
    top: 0;
  }
  .content-2 h2 {
    font-size: 20px;
  }
  .content-2 P {
    font-size: 15px;
  }
  .content-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .content {
    padding: 0 20px;
  }
  .content P {
    text-align: justify;
  }
  .content h2 {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
  }
  .top-section {
    display: none;
  }
  .nav-mob-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0;
  }
  .mob-menu-btn button {
    background: none;
    border: none;
  }
  .page-intro {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .mob-nav-menu {
    display: block;
    background-color: white;
    position: absolute;
    width: 95%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .mob-nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid black;
  }
  .mob-nav-menu li {
    margin: 20px 0;
  }
  .mob-nav-menu a {
    text-decoration: none;
    color: black;
  }
  .mob-nav-menu i {
    color: #FF6261;
  }
  #product-dropdown-content,
  #company-dropdown-content,
  #connect-dropdown-content {
    border-bottom: none;
    line-height: 1;
    background-color: rgba(209, 204, 204, 0.5);
    padding: 10px 0;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
  }
  #product-dropdown-content a,
  #company-dropdown-content a,
  #connect-dropdown-content a {
    font-size: 13px;
  }
  .nav-mob-btn-1,
  .nav-mob-btn-2 {
    width: 130px;
    height: 40px;
  }
  .nav-mob-btn-1 {
    background: none;
    border: none;
  }
  .nav-mob-btn-2 {
    background-color: #FF6261;
    border: none;
    color: white;
    border-radius: 20px;
  }
}
/*# sourceMappingURL=Index.css.map */